$playfair-display: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;

$h1-font: 700 44px $playfair-display;
$h2-font: 700 36px $playfair-display;
$link-font: 700 22px $playfair-display;
$p-font: 400 22px/1.5 $open-sans;