$playfair-display: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;

$h1-font: 700 36px $playfair-display;
$h2-font: 700 32px $playfair-display;
$link-font: 700 20px $playfair-display;
$p-font: 400 18px/1.5 $open-sans;