.banner {
	margin-bottom: 200px;
	
	.banner-img {
		width: 100%;
		display: block;
		height: 500px;
		object-fit: cover;	
	}

	.banner-body {
		background-color: $white;
		padding: 40px;
		box-shadow: $raised-shadow;
		margin-top: -150px;
		grid-column: span 6;
	}

	&:nth-of-type(odd) {
		.banner-body {
			grid-column: 7 / span 6;
		}
	}

	@include media-breakpoint-down('lg') {
		.banner-body {
			grid-column: span 8;
		}
	
		&:nth-of-type(odd) {
			.banner-body {
				grid-column: 5 / span 8;
			}
		}
	}

	@include media-breakpoint-down('md') {
		.banner-body {
			grid-column: span 12;
		}
	
		&:nth-of-type(odd) {
			.banner-body {
				grid-column:span 12;
			}
		}
	}
}