.crane-divider {
	@extend .container;
	align-items: center;
	margin-bottom: 200px;
	display: flex;

	.crane-divider-img {
		width: 100%;
		max-height: 100px;
		padding: 0 30px;
	}

	&::before, &::after {
		content: "";
		display: block;
		height: 6px;
		background-color: $dark-red;
		width: 100%;
	}

	@include media-breakpoint-down('md') {
		.crane-divider-img {
			max-height: 80px;
			padding: 0 20px;
		}
	}
}