.snapshot {
	@extend .container;
	@extend .grid;
	margin-bottom: 80px;

	.snapshot-text {
		margin-top: 80px;
		grid-column: span 5;
	}

	.snapshot-img {
		width: 100%;
		grid-column: span 7;
		border: 10px solid $white;
		box-shadow: $raised-shadow;
	}

	&:nth-child(even) {
		.snapshot-text {
			order: -1;
		}
	}

	@include media-breakpoint-down('lg') {
		display: block;
		
		.snapshot-text {
			margin-top: 20px;
		}
	}

	@include media-breakpoint-down('sm') {
		.snapshot-img {
			border-width: 5px;
		}
	}
}