.nav-bar {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.nav-logo {
		border-bottom: none;
	}

	.nav-bar-right > :not(:last-child) {
		margin-right: 30px;
	}

	@include media-breakpoint-down('md') {
		.nav-bar-right > :not(:last-child) {
			margin-right: 20px;
		}
	}

	@include media-breakpoint-down('sm') {
		flex-direction: column;
		align-items: flex-start;

		.nav-logo {
			margin-bottom: 10px;
		}
	}
}